// SCSS StyleSheets
@import 'setup';
@import 'mixins';
@import 'variables';

// Basic overall styling
html {
    font-size: 125%; 
}

p {
    @include bodyFont(1rem, $secondary);
}

// Header styling

header {
    background-image: url(../assets/hero.jpg);
    height: 80vh; 
    background-attachment: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
}

.acnhLogo {
    position: absolute; 
    top: 30%;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    @include headerFont (3rem, $brown, 700);
    position: absolute; 
    bottom: 10%;   
    margin-left: 50%; 
    margin-right: -50%; 
    transform: translate(-50%, -50%);
    background-color: $headingsColour; 
    padding: 1.5rem;  
    border-radius: 1rem;
    text-transform: uppercase; 
}


// MAIN STYLING

main {
    background-image: url(../assets/pattern-leaves-white.jpg); 
}

// welcome section

.wrapper { 
    width: 90%; 
    margin: 0 auto; 
    padding-bottom: 5rem; 
}

.welcomeBox {
    background-color: $brown; 
    width: 80%; 
    padding: 3rem; 
    border-radius: 1rem; 
    margin: 0 auto; 
}

h2 { 
    @include headerFont (2.8rem, $secondary, 700);
    margin-top: 0; 
    text-align: center; 
}

h3 {
    @include headerFont (2.5rem, $brown, 700);
    margin: 3rem; 
    padding: 2rem; 
    border-radius: 1rem; 
    text-align: center; 
}

.start {
    background-color: $yellow; 
}

// input

.inputSection {
    background-color: $headingsBackground; 
    width: 100%; 
    height: 100%; 
    margin: auto; 
    border-radius: 1rem; 
    padding: 5% 0;
    position: relative;   
    
}

.inputBox {
    background-color: $secondary;
    width: 80%;  
    height: 90%; 
    margin: 0 auto;
    border: 8px solid $yellow; 
    border-radius: 1rem;
    
}

form { 
    margin: 0 auto; 
    width: 80%;  
}

.inputBox label {
    font-family: 'Libre Franklin', sans-serif; 
    color: $secondary; 
    background-color: $brown; 
    padding: .5rem; 
    border-radius: .5rem;  
    width: 8rem;
    display: inline-block;
    text-align: center; 
} 


.inputBox select, 
.inputBox input {  
    margin: 2rem -50% 2rem 50%;
}

button {
    border: none; 
    border-radius: .5rem; 
    background-color: $buttons; 
    color: $secondary; 
    padding: .5rem;  
} 

.nookImg {
    position: absolute; 
    bottom: -2rem; 
    left: 0; 
}

// Critters section (where the critters returned will appear)

.critters {
    margin-top: 5rem; 
    background-color: $secondary; 
    border: 8px solid $buttons;
    border-radius: 1rem; 
    position: relative;  
}

.critters ul {
    list-style: none; 
    display: grid; 
    grid-template-columns: repeat(4, auto);
}

.critters li {
    margin: 1rem auto; 
    border: 3px solid $brown; 
    border-radius: 50%; 
}

.critters li:hover, 
.critters li:focus {
    border-color: $yellow; 
}

.timTomImg {
    width: 20%; 
    position: absolute; 
    bottom: -2rem; 
    right: -2rem; 
}

// end of main styling

// FOOTER

footer {
    background-color: $secondary;
    text-align: center; 
}

footer p {
    margin: 0; 
    font-size: 2rem; 
    color: $brown; 
}
